@import url(./fonts.css);

:root {
    --primary-orange: #F18128;
    --white: #fff;
    --link-orange: #ED8E00;
    --dark-blue: #040D1F;
    --Comfortaa: "Comfortaa";
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
}

/* Global S*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Container  body*/
.container {
    max-width: 1143px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Btn */
.all-btn {
    display: inline-block;
    max-width: 166px;
    width: 100%;
    background-color: var(--primary-orange);
    border: 5px solid #000;
    border-radius: 4px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: #000;
    transition: 0.5s;
}

.all-btn:active{
    background-color: var(--dark-blue);
    color:var(--white);
    cursor: pointer;
}
.title{
    color: var(--primary-orange);
    font-family: var(--Comfortaa);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid var(--primary-orange);
    width: max-content;
}
/* Btn */


/* site ads */
.site-ads {
    display: block;
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    column-gap: 24px;
}
.ads-text {
    max-width: 166px;
    width: 100%;
    font-family: var(--Comfortaa);
    font-weight: 400;
    font-size: 16px;
}
/* site ads */